.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.*
tsdown.config.ts
pnpm-lock.yaml
pnpm-workspace.yaml
**/*.map
**/*.ts
**/.vscode-test.*
